body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;;
}

.established {
    font-style: italic;
}

.menu {
    background-color: burlywood;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.item p {
    display: inline;
}

.flavor {
    background-color: white;
    width: 70%;
    text-align: left;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}

.price {
    background-color: white;
    width: 30%;
    text-align: right;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;

}