body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;;
}

.established {
    font-style: italic;
}