h1 {
    text-align: center;
    margin: auto auto;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.marker {
    background-color: aquamarine;
    width: 250px;
    height: 25px;
    margin: auto 10px;
}